/* Video Player */
/* Author: Abi Matthews-Gordon */

/* Imports */
@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');


/* --------------------------------- */
/*          1. General */
/* --------------------------------- */
:root {
    --primary-green: #00f700;
    --secondary-green: #95d995;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #000;
}

body {
    position: relative;
}

body.full-page {
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 100%;
    overflow: scroll;

    .main {
        height: 100%;
        flex-grow: 1;
    }
}

.primary-green-text {
    color: var(--primary-green);
}

.red-text {
    color: #f9061d;
}

/* --------------------------------- */
/*              Typography */
/* --------------------------------- */
/*headings*/
h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue {
    color: var(--primary-green);
}

h1 {
    font-size: 34px;
}


/* --------------------------------- */
/*              VIDEO PLAYER */
/* --------------------------------- */
.video-holder {
    margin-top: 50px;

    h1 {
        text-transform: uppercase;
    }

    .video-container {
        background-color: #eee;
        height: 800px;
        position: relative;
        overflow: hidden;

        .video {
            width: 100%;
        }

        .scrub-container {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;

            .scrub-bar {
                margin: 0;
                padding: 0;
                background-color: var(--secondary-green);
                width: 100%;
                height: 3px;

                .scrub-progress {
                    background-color: var(--primary-green);
                    height: 3px;
                    width: 0%;
                }

                .scrub-circle {
                    position: absolute;
                    top: -3px;
                    left: 0%;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background-color: var(--primary-green);
                }
            }
        }

        .video-controls {
            display: flex;
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            padding: 10px;
            background: #0001;

            .controls {

                button {
                    border: none;
                    background: transparent;
                    color: var(--primary-green);
                }

                i {
                    font-size: 30px;
                    margin-right: 10px;
                }

                span {
                    color: var(--primary-green);
                    line-height: 25px;
                }

                &.right {
                    i {
                        font-size: 25px;
                    }

                    .full-screen-btn {
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .settings-menu {
            display: none;
            position: absolute;
            bottom: 75px;
            right: 15px;
            width: 250px;
            background-color: #bfbfbf;
            border-radius: 8px;
            padding-top: 5px;
            padding-bottom: 5px;

            >.menu-item {
                display: block;
                width: 100%;
                position: relative;

                >a {
                    i.bi-chevron-left {
                        display: none;
                    }

                    i.bi-play-circle {
                        display: inline;
                    }
                }

                a {
                    display: block;
                    padding: 10px;

                    span:first-child {
                        i {
                            margin-right: 5px;
                        }
                    }

                    span:last-child {
                        float: right;
                    }

                    &:hover {
                        background-color: #93b7c1;
                    }
                }

                &.active {

                    >a {
                        font-size: 18px;
                        border-bottom: 1px solid #999;

                        i.bi-chevron-left {
                            display: inline;
                        }

                        i.bi-play-circle,
                        i.bi-sliders2,
                        span:last-child {
                            display: none;
                        }
                    }

                    .sub-menu {
                        display: block;
                    }
                }

                .sub-menu {
                    display: none;
                    margin-bottom: 0;
                    list-style: none;
                    padding: 0;
                    background: #ccc;
                    border-bottom: 1px solid #999;

                    li {
                        padding-left: 28px;
                        padding-right: 28px;
                        cursor: pointer;

                        &:hover {
                            background-color: #93b7c1;
                        }
                    }
                }
            }

            &.active {
                display: block;
            }
        }

        &.fullscreen {
            button {
                i {
                    color: #fff;
                }
            }

            .controls {
                span {
                    color: #fff;
                }
            }

            .scrub-container {
                .scrub-bar {
                    background-color: #fff;
                }
            }
        }
    }
}